<div class="well">
  <div class="row">
    <div class="page-header text-center">
      <h1>Your Images</h1>
    </div>

    <!--show user images-->
    <div class="row fluid active-tab" id="user-images" style="padding-left:3%;padding-right: 3%">
        <div class="col-sm-12" style="padding-left: 3%;padding-right: 3%">
          <div ng-repeat="img in images" ng-show="img!=null">
            <a href="" ng-click="openImage(img.id)">
              <img ng-src="data:image/PNG;base64,{{img.image}}"
                   style="max-width:100%; max-height:100%;"
                   class="gallery-image fade-animation text-center">
              <br/><br/><br/>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 preview"></div>
    </div>

  </div>
</div>




