
<div class="well">
    <div class="row" ng-show="result!=null">
      <div class="row">
        <div class="col-xs-4" style="padding-left: 3%">
          <img ng-src="data:image/PNG;base64,{{result.image}}" style="max-width:100%; max-height:100%;">
        </div>

        <div class="col-xs-4">
          <a class="btn btn-primary btn-lg btn-block" ng-click="saveImage()">Save image</a>
        </div>
        <div class="col-xs-4">
          <a class="btn btn-primary btn-lg btn-block" ng-click="cancel()">Cancel</a>
        </div>
      </div>
      <br/><br/><br/>
    </div>


    <div class="row">
      <div class="col-xs-4" style="padding-left: 3%">
        <img ng-src="data:image/PNG;base64,{{image}}"
             style="max-width:100%; max-height:100%;"
             class="gallery-image fade-animation">
      </div>
      <div class="col-xs-8">
        <div class="col-xs-4">
          <a class="btn btn-primary btn-lg btn-block" ng-click="shareFb()">Share FB</a>
        </div>
        <div class="col-xs-6">
          <select name="repeatSelect" id="repeatSelect" ng-model="selectedFilter" ng-change="makeFilter(selectedFilter)">
            <option value="null" selected="true"></option>
            <option ng-repeat="filter in filters" value="{{filter.name}}">{{filter.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>




