<div class="a" not-authenticated>
  <div class="page-header text-center">
    <h1>Log In</h1>
  </div>

  <form class="form-signin well" ng-submit="login()" name="loginForm" novalidate >
    <div class="form-group">
      <label for="inputLogin" class="sr-only">Login</label>
      <input type="text" name="text" id="inputLogin" class="form-control"
             placeholder="Login" ng-model="token.username" required autofocus>
      <p ng-show="loginForm.email.$touched && loginForm.email.$invalid" class="help-block">
        Wrong email
      </p>

    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="token.password" required>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-model="token.rememberMe"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <div class="alert alert-danger" role="alert" ng-show="errauthc">
                <span class="error" >
                   Wrong email and/or password
                </span>
    </div>
  </form>
</div>
