<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">FacebookPhotoFilter</h1>
    <p class="text-center">TAI project</p>
    <p class="text-center">
      <a class="btn btn-primary btn-lg" role="button" ui-sref="register">Register now! &raquo;</a>
      <a class="btn btn-primary btn-lg" role="button" ui-sref="login">Sign in! &raquo;</a>
    </p>
  </div>
</div>
