<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Facebook Photo Filter</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="authed">
          <p class="navbar-text">{{subject.getPrincipal()}}</p>
        </li>
        <li ng-hide="authed">
          <a href="#/login"><span class= "glyphicon glyphicon-log-out"></span>Login</a>
        </li>
        <li ng-hide="authed">
          <a href="#/register"><span class= "glyphicon glyphicon-log-out"></span>Register</a>
        </li>
        <li ng-show="authed">
          <a href="#/sendImage" ><span class= "glyphicon glyphicon-log-out"></span>Send Image</a>
        </li>
        <li ng-show="authed">
          <a href="#/imageList"><span class= "glyphicon glyphicon-log-out"></span>Image List</a>
        </li>
        <li ng-show="authed">
          <a ng-click="logout()" ><span class= "glyphicon glyphicon-log-out"></span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
