<div class="refade" not-authenticated>
  <div class="page-header text-center">
    <h1>Register</h1>
  </div>

  <form class="form-signin well" ng-submit="register(confirmation)" name="registerForm" novalidate>
    <div class="form-group">
      <label for="nickname" class="sr-only">Nickname</label>
      <input type="text" id="nickname" name="nickname" class="form-control"
             placeholder="Nickname" ng-model="token.username" required/>
      <p ng-show="registerForm.nickname.$touched && registerForm.nickname.$invalid" class="help-block">
        Nickname is required
      </p>
    </div>


    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control no-margin"
             ng-minlength="8"
             placeholder="Password" ng-model="token.password" required />

      <label for="password-confirmation" class="sr-only">Password confirmation</label>
      <input type="password" id="password-confirmation" class="form-control" name="password-confirmation"
             placeholder="Password confirmation" ng-model="confirmation" required />

      <p ng-show="registerForm.password.$touched && registerForm.password.$error.minlength" class="help-block">
        Password too short
      </p>
      <p ng-show="registerForm.password.$touched && token.password!=confirmation && registerForm.password.$valid"
         class="help-block">
        Password doesn't match
      </p>
    </div>


    <div role="alert" class="alert alert-danger" ng-show="errauthc">
            <span class="error" ng-show="errauthc">
               Registration error
            </span>
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block"
           ng-disabled="registerForm.$invalid" value="Register" />
  </form>
</div>
