<body ng-app="facebookPhotoFilterApp" >
  <div class="well">
    <div class="row">
      <!-- load from file left -->
        <div class="col-md-12" style="padding-bottom: 2%; padding-top:5%;">
          <!--main row-->
            <!-- selecting file row-->
            <div class="row">
                  <div class="col-md-6">
                    <div class="select">
                      <p>Choose the file:</p>
                    </div>
                      <div>
                        <input type="file" ngf-select onchange="angular.element(this).scope().setPicture(this.files[0])" ngf-accept="'image/*'">
                      </div>

                      <div class="help-block clearfix">
                        <span class="pull-left">{{byteSize(newImage)}}</span>
                        <button ng-click="newImage=null"
                                ng-if="newImage"
                                class="btn btn-default btn-xs pull-right">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <input type="hidden" class="form-control" name="picture" id="field_picture"
                               ng-model="newImage">
                      </div>
                      <img class="preview" data-ng-src="{{'data:image/*;base64,' + newImage}}" style="max-height: 100px;" ng-if="newImage"/>
                  </div>
                  <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" ng-click="upload()" id="create-load-btn">Upload</a>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</body>

