.test-editor {
  width: 100%;
  height: 380px;
  margin-top: 10px;
  resize: none;
}

#test-creator-file,
#test-creator-creator {
  display: none;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.select{
  font-size: large;
}

h2{
  text-align: center;
}
.pull-right{
  margin-right: 10px;
  margin-top: 10px;
}
.alert{
  text-align: center;
}
#feedback_button{
  position: fixed;
  right: 3px;
}
body {
  background: url('../assets/images/background_log.jpg') no-repeat center center fixed;
  background-size: cover;
}
.panel {
  max-width: 350px;
  max-height: 550px;
  padding: 15px 20px;
  margin: 100px auto;
}
.btn {
  margin-bottom: 10px;
}
.form-group.last {
  margin-bottom:0px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .input-first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .input-middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .input-last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-content {
  max-width: 350px;
  max-height: 550px;
  padding: 15px 20px;
  margin: 100px auto;
}

#register_checkbox {
  margin-bottom: 15px;
  margin-top: 15px;
}
.modal-body{
  padding-bottom: 0px;
}
.modal-body h4{
  text-align: center;
}
#remind_email{
  margin-bottom: 10px;
}
.footer-basic-centered {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 18%;
}

#table-right-col {
  padding-left: 15px;
  padding-right: 15px;
}

#h2-left-col {
  padding-left: 15px;
  text-align: left;
}

#options {
  margin-left: -10px;
  padding-top: 25px;
}
#buttons {
  margin: 8px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.test-editor {
  width: 100%;
  height: 380px;
  margin-top: 10px;
  resize: none;
}

#test-creator-file,
#test-creator-creator {
  display: none;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.select{
  font-size: large;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
h2{
  text-align: center;
}
.pull-right{
  margin-right: 10px;
  margin-top: 10px;
}
.alert{
  text-align: center;
}
#feedback_button{
  position: fixed;
  right: 3px;
}

.panel {
  max-width: 350px;
  max-height: 550px;
  padding: 15px 20px;
  margin: 100px auto;
}
.btn {
  margin-bottom: 10px;
}
.form-group.last {
  margin-bottom:0px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .input-first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .input-middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .input-last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-content {
  max-width: 350px;
  max-height: 550px;
  padding: 15px 20px;
  margin: 100px auto;
}

#register_checkbox {
  margin-bottom: 15px;
  margin-top: 15px;
}
.modal-body{
  padding-bottom: 0px;
}
.modal-body h4{
  text-align: center;
}
#remind_email{
  margin-bottom: 10px;
}
.footer-basic-centered {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 18%;
}

#table-right-col {
  padding-left: 15px;
  padding-right: 15px;
}

#h2-left-col {
  padding-left: 15px;
  text-align: left;
}

#options {
  margin-left: -10px;
  padding-top: 25px;
}
#buttons {
  margin: 8px;
}

body {
  padding-top: 50px;
}
.profile{
  height: 25px;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
  white-space: normal;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
  width:150px;
}

.menu-list{

  position: static;
  padding-left: 10%;
}
.menu-button{
  height: 25px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top:2%;
}
.menu-button-link{
  padding-bottom: 5%;

}
